body, div, p, h1{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background: url(../img/partydreamcolorparty.jpg) no-repeat center 0;
    background-size:cover;
    position: fixed;
    top: 0;
    z-index: 1;
    display: table;
}
.container .img-party_bg{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.container .welcome{
    position: relative;
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
}

.container .welcome .welcome-text{
    margin: 25px 0;
}

.container .welcome .btn-vk:hover{
    border-color: #000066;
}