/*!
 * forbetterweb.com - Classic Cover – One Page Websites (html, bootstrap)
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
}
.choice{
  margin: 10px 0;
}
.select{
  background: transparent;
  color: white;
}
.select option{
  color: black;
}
.select.has-error{
  border-color: red;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
}
body {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  position:relative;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-nav .avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
  font-size: 18px;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color:#fff;
}

.masthead a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* VIDEO BACKGROUND */

.video-background {
  z-index:550;
  text-align:center;
  height:100%;
  min-height:100%;
  position:relative;
  overflow:hidden
}

.video-background .video-background-container {
  width:830px;
  max-width:100%;
  display:inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}

.video-background-title {
  font-size:78px;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:22px;
  padding-top:20px;
  display:inline-block;
  background-attachment:scroll;
  background-repeat:repeat-x;
  background-position:top center
}

.video-background-default-image {
  background:url(../img/cover.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width:100%;
  height:100%;
  z-index:0;
  backface-visibility:hidden
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  font-size: 30px;
  padding-bottom: 30px;
}

small {
    color:#ccc!important;
}

#clock div {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin:0 8px 20px 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
}
#clock span {
    display: block;
    font-size: 32px;
    font-weight: 100;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
  .cover-heading {
    font-size: 40px;
  }
    #clock span {
        font-size: 72px;
        padding: 30px 0;
    }
    #clock div {
        margin:0 25px 30px 25px;
        line-height: 60px;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    max-width: 800px;
  }
  .masthead {
    max-width: 100%;
     }
}

.box-modal {
  position: relative;
  width: 500px;
  padding: 16px;
  background: #3c3f41;
  color: #bbb;
  font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
  border-radius: 6px;
}
.box-modal_close {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
  cursor: pointer;
}
.box-modal_close:hover {
  color: #6897bb;
}
.box-modal .option-answer span{
  margin: 0 10px;
}
