{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cover Countdown Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'styles/questionnaire.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/jquery.arcticmodal-0.3.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="site-wrapper video-background">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=k_okcNVZqqI', containment:'body', autoPlay:true, mute:true, startAt:5, stopAt: 120, quality:'small', opacity:1, }"></a>

    <div class="overlay"></div>

    <div class="site-wrapper-inner">

        <div class="masthead clearfix">
            <div class="inner">
                <nav>
                    <ul class="nav masthead-nav">
                        <li>
                            <img class="avatar" src="{{ avatar }}" alt="avatar">
                        </li>
                        <li>{{ first_name }} {{ last_name }}, здравствуйте!</li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading"> <i class="fa fa-clock-o fa-fw"></i> Приходи на самую потрясную вечеринку этого года</h1>
                <p class="lead">Лето в самом разгаре и я решил устроить незабываемы выходные! Чекни в форме, что ты придешь и что хочешь пить. Все остальное беру на себя.</p>
                <div id="clock"></div>
                <div class="form">{% csrf_token %}
                    <p class="lead">Здравствуйте, {{ first_name }}!</p>
                    <div class="row choice">
                        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-4 col-xs-offset-2">
                            <p class="lead">Вы придете?</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select id="visit" class="form-control select ">
                                <option value="-1" selected>Выберите пожалуйста</option>
                                <option value="1">Да</option>
                                <option value="2">Нет</option>
                            </select>
                        </div>
                    </div>
                    <div class="row choice">
                        <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-0">
                            <p class="lead">Какой напиток Вы предпочитаете?</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select id="drink" class="form-control select">
                                <option value="-1" selected>Выберите пожалуйста</option>
                                <option value="1">Глинтвейн</option>
                                <option value="2">Ромовая баба</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p class="lead"><a id="btn-send" class="btn btn-lg btn-default btn-send">отправить</a></p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Copyright &copy; <a href="/">SanDan</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <div class="box-modal" id="already-filled">
        <div class="box-modal_header">
            <h3 class="box-modal_header-text">Если уже заполнял</h3>
            <div class="box-modal_close arcticmodal-close">X</div>
        </div>
        <p class="lead">Вы уже отвечали на опрос, хотите удалить старый ответ и ответить заново?</p>
        <div class="option-answer">
            <span id="rewrite-submit"><a class="btn btn-lg btn-default">да</a></span>
            <span id="rewrite-cancel"><a class="btn btn-lg btn-default">нет</a></span>
        </div>
    </div>
</div>

<div style="display: none;">
    <div class="box-modal" id="thanks">
        <div class="box-modal_close arcticmodal-close">X</div>
        <p class="lead">Спасибо за ответ!</p>
    </div>
</div>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Plugins and Custom JavaScript -->
<script src="{% static 'js/device.min.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<!--
Google Analitics
Demo Purpose Only
Change UA-XXXXXXX-X to be your site's ID
 -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1057679-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>