<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/styles/authentication.css">
    <link rel="stylesheet" href="../../../static/styles/questionnaire.css">

</head>
<body>
    <div class="container">
        <div class="img-party_bg"></div>

        <div class="welcome">
            <h1>Приходи на вечеринку!</h1>
            <p class="lead welcome-text">Авторизуйся и ты сможешь попасть в список приглашенных &darr;</p>
            <p class="lead"><a href="{{ vk_auth_link }}" class="btn btn-lg btn-default btn-vk">VK</a></p>
        </div>
    </div>
</body>
</html>